{% extends "menuapp/base_no_menu.html" %}
{% block main %}
			<div class="page-header">
				<h1>
					Sistema de Facturacion e Inventario <small>Menus</small>
				</h1>
			</div>
			
				<div class="col-sm-8">
				<h2>				
				<center>				
				<button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='add/'">Agregar</button>
				<button type="button" class="btn btn-alert btn-lg" onclick="window.location.href='/'">Salir</button>
			</center>				
				</h2>			
				 </div>
				<div class="col-sm-4">  
					<form method="post" class="form">
					{{form}}
				    {% csrf_token %}
					<input type="submit" value="Enviar" />
					 </div>
			
			<p>
			<table class="table table-hover table-condensed">	 
  		<tr><th>Codigo</th><th>Nombre</th><th>Padre</th><th>Imagen</th><th>Accion</th></tr>
	    {% for menu in menus %}
	        <tr>
	        	<td>{{ menu.codigo }}</td>	        	
                <td>{{ menu.nombre }}</td>
                <td>{{ menu.parent }}</td>
                <td><img src="{{ menu.ruta_foto.url }}" alt="" height="120" width="160" /></td>
	        <td><a href="edit/{{menu.pk}}"> <img src="/media/icons/pencil_32.png" \>  </a>
	        <a href="delete/{{menu.pk}}"> <img src="/media/icons/close_32.png"\> </a>
	        </td>
	        	
	        </tr>
	        	        
	        {% empty %}
	    	<tr><td colspan="3">
	    	<h3>No se encontraron registros</h3>	    
	    	</td></tr>
	    {% endfor %}
	    </p>
	</table>
		<div class="pagination">
		    <span class="step-links">
		        {% if menus.has_previous %}
		            <a href="?page={{ menus.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ menus.number }} of {{ menus.paginator.num_pages }}.
		        </span>

		        {% if menus.has_next %}
		            <a href="?page={{ menus.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
	
  
			
			
{% endblock %}

